/* Just some reset and typography stuff, You can ignore it. */
body{font:13px/1.5 Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif}ol,li{margin:0;padding: 0;}

/* The container for the twitter search results
   Set the size, position, and overflow here     */
#twitter_search_results {
	margin: auto;
	width: 40em;
	height: 30em;
	overflow-y: scroll;
}

/* The "Loading Tweets..." message */
#twitter_search_results .loading {
	color: #888;
}

/* The tweets are put into an OL because
   they come back ordered by date         */
#twitter_search_results ol#twitter_results {
	list-style: none;
}

/* Each tweet is a LI inside the OL */
#twitter_search_results li.result {
	border-bottom: 1px dashed #ccc;
	padding: 0.75em 15px;
	
	overflow: hidden; /* for the floated avatar */
}

/* Tweets are tagged with 'even' or 'odd'
   so you can do striping                  */
#twitter_search_results li.result.odd {
	background-color: #f8fcfd;
}

/* Each result has an avatar, message (text), and info */
#twitter_search_results li.result .avatar {
	float:left;
	height:48px;
	width:48px;
	overflow:hidden;
}

#twitter_search_results li.result .text {
	margin-left: 58px;
}

#twitter_search_results li.result .info {
	margin-left: 58px;
	color: #888;
	font-size: 0.75em;
	line-height: 1.5em;
}
